
txt/card_help.txt
txt/gameloader_info.txt
txt/tp_info.txt
Tokens/tenshi_production.txt
txt/badactors.txt
badactors.txt
Spicetools.zip
1ccbot2.py
tinfoil.txt
txt/permaban.txt
1ccbot3.py
Tokens/twitter_access.txt
Tokens/twitter_access_secret.txt
Tokens/twitter_consumer.txt
Tokens/twitter_consumer_secret.txt
*.pyc
txt/nointro.txt
txt/badfiles.txt
